body {
    background-color: rgb(13,11,14);
    color: beige;
}

header{
    display: grid;
    width: 100%;
    grid-template-columns: 4fr;
}

#dog {
    grid-column: 3/4;
    width: 50%;
    height: 500px;
    overflow: hidden;
}

#dog img {
    max-width: 100%;
    height: auto;
    display: block;
}
    

header #right_title h1 {
    color: red;
    /*font-family: 'Rubik Pixels', cursive;*/
    font-family: 'Press Start 2P', cursive;
    font-size: 6.5em;
    text-shadow: 10px 6px blue;
}

header #right_title h4{
    color: blue;
    font-size: 2.3em;
    font-family: "Courier New";

}

main {
    border-top: 30px;
    /*display: flex;*/
    font-size: 1.1rem;

}


form {
    display: flex;
    justify-content: space-between;
    border: red 2px solid;
}

 #con1 {

}

#con2 {
    
}

#button {
    background-color: blue;
    color: beige;
    font-size: 1.1rem;
    text-align: center;
}

#fortune h3{
border-top: 50px;
}
